<div class="game-entry">

  <div class="date-container">
    <div class="weekday">
      {{dayOfWeek}}
    </div>
    <div class="date">
      {{date}}
    </div>
  </div>

  <div class="time">
    {{time}}
  </div>

  <div class="encounter">
    <div class="team" (click)="teamClicked$.emit(game.teams.home.caption)">{{game.teams.home.caption}}</div>
    <div class="divider">-</div>
    <div class="team" (click)="teamClicked$.emit(game.teams.away.caption)">{{game.teams.away.caption}}</div>
  </div>

  <div class="location">
    <a href="{{hyperlink}}" target="blank">
      <mat-icon>map</mat-icon>
      <div>{{address}}</div>
    </a>
  </div>
</div>
<mat-divider></mat-divider>
