.game-entry {
  display: grid;
  align-content: start;
  justify-content: start;

  @media(min-width: 450px) {
    grid-template-columns: 110px auto;
  }
  @media(max-width: 450px) {
    grid-template-columns: 85px auto;
  }

  grid-template-rows: auto;

  grid-column-gap: 1.25vw;
  grid-row-gap: .2em;
  padding: 1em;

  > .date-container {
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;

    @media(min-width: 450px) {
      > .weekday {
        margin-right: .5em;
      }
    }

    @media(max-width: 450px) {
      flex-direction: column;
      > .weekday {
        margin-bottom: .15em;
        opacity: .6;
      }
    }
  }

  > .time {
    justify-self: right;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
  }

  > .encounter {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: large;
    font-weight: bold;

    display: flex;

    > .team {
      cursor: pointer;
    }

    @media(max-width: 450px) {
      flex-direction: column;
      :first-child:after {
        font-weight: lighter;
        color: gray;
        font-style: italic;
        font-size: smaller;
        content: " vs.";
      }

      > .divider {
        display: none;
      }
    }

    .divider {
      margin: 0 .5em;
    }
  }

  > .location {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    > a {
      display: flex;
      align-self: center;

      > mat-icon {
        font-size: medium;
      }
    }
  }
}
