.game-entry {
  display: grid;
  //width: 80%;
  align-content: start;
  justify-content: start;
  grid-template-columns: 100px 50px auto;
  grid-template-rows: auto;
  background-color: lightblue;
  margin: .5em;

  > .date {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  > .time {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  > .encounter {
    background-color: orange;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;


    display: flex;

    .divider {
      margin: 0 .5em;
    }
  }

  > .location {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
