$DEFAULT_FORM_SPACING: 2em;

.form-line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  app-auto-complete-input {
    margin-left: $DEFAULT_FORM_SPACING;
  }

  mat-form-field {
    margin-left: $DEFAULT_FORM_SPACING;
  }

  mat-slide-toggle {
    margin-left: $DEFAULT_FORM_SPACING;
  }
}

.result-area {
  display: flex;
  justify-content: center;

  > div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .invalid {
    margin-top: 1.5em;
    text-align: center;
    font-size: x-large;
    color: darkgray;
  }
}
