/* You can add global styles to this file, and also import other style files */

$animate: all 0.2s ease-in-out;
$primary: #3f51b5;

body {
  font-family: 'Roboto', sans-serif;
}

// avoid layout shift from scrollbar change
html {
  overflow: auto;
  margin-left: calc(100vw - 100%);
}

a {
  text-decoration: none;
  color: $primary;

  > div {
    text-decoration:  underline $primary;
  }

  &:hover {
    color: $primary;
    background-size: 100% .2em;

    > div {
      text-decoration:  none;
    }
  }
}
