.common-actions {
  position: fixed !important;
  right: 15px;
  bottom: 15px;



  display: flex;
  flex-direction: column;

  justify-content: flex-end;

  > app-button-with-text {
    margin-left: 1em;
  }
}

.game-grid {
  flex-direction: column;
  max-width: 800px;

  flex-grow: 1;
  justify-content: flex-start;
  align-items: stretch;
}
