.common-actions {
  position: fixed;
  left: calc(100vw - 90px);
  bottom: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  > app-button-with-text {
    margin-left: 1em;
  }
}

.game-grid {
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 300px;
}
